<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container-fluid" style="background-color: lightgrey;">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-3 text-white">

      <img src="../assets/file1.jpg" style="padding: 0px;" class="rounded img-thumbnail">
      <div class="side-by-side" style="overflow: hidden; width: 100%; background-color: cadetblue">
        <br>
        <!-- About Me -->
        <div class="icon left-side">
          <i class="fa fa-user"></i>
        </div>

        <div class="right-side">
          To me, programming is not just a job, it's a way of thinking. I am passionate for programming and believe in power of learning.
          Having worked over 3 years in Software Testing, I want to jump to software development. While studying for MEng
          in past 2 years, I have worked hard to sharpen my programming skills.
          <br>
          <br>
          <hr>
        </div>

        <!-- Mobile number -->

        <div class="icon left-side">
          <i class="fa fa-phone"></i>
        </div>
        <div class="right-side">
          <h4>
            <a href="tel:902-329-2305"> (902) 329-2305 </a>
          </h4>
          <p style="font-size: 14px;">Mobile</p>

          <hr>
        </div>

        <!-- Email ID -->
        <div class="icon left-side">
          <p>
            <i class="fa fa-envelope"></i>
          </p>
        </div>
        <div class="right-side" style="font-size: 15px;">
          <h4>
            <a href="mailto:vipulparmar154@gmail.com"> vipulparmar154@gmail.com </a>
          </h4>
          <p style="font-size: 14px;">Personal</p>
          <hr>
        </div>

        <!-- LinkedIn-->
        <div class="icon left-side">
          <i class="fa fa-linkedin-square" style="font-size: 28px;"></i>
        </div>
        <div class="right-side">
          <h4>
            <a href="https://www.linkedin.com/in/vipul-parmar/" style="color: white;">Vipul Parmar</a>
          </h4>
          <hr>
        </div>

        <!-- GitHub-->
        <div class="icon left-side">
          <i class="fa fa-github" style="font-size: 30px"></i>
        </div>
        <div class="right-side">
          <h4>
            <a href="https://github.com/vipulparmar23" style="color: white">vipulparmar23</a>
          </h4>
          <hr>
        </div>

        <!-- Home Address-->

        <div class="icon left-side">
          <i class="fa fa-home" style="font-size: 28px;"></i>
        </div>

        <div>
          <h4 class="right-side" style="padding-top: 7px; font-size: 16px;">Toronto, Ontario</h4>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

    <div class="col-md-8" style="background-color: white;">
     


    </div>
  </div>
</div>

<div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

</div>

</html>