<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  
</head>

<div class="container-fluid" style="background-color: lightgrey;">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 text-white">

      <img src="../assets/file1.jpg" style="padding: 0px;" class="rounded img-thumbnail">
      <div class="side-by-side" style="overflow: hidden; width: 100%; background-color: #00804d">
        <br>
        <!-- Introduction -->
        <div class="iicon left-side">
          <i class="fa fa-id-badge"></i>
        </div>
        <div class="right-side">
          <h4 style="font-size: 16px;">Vipul Parmar</h4>
          <p style="font-size: 14px;">Software Tester, programmer, adventurer, reader</p>
        </div>
        
<br><br>
        <!-- About Me -->
        <div class="icon left-side">
          <i class="fa fa-user"></i>
        </div>

        <div class="right-side">
          To me, programming is not just a job, it's a way of thinking. I am passionate for programming and believe in power of learning.
          Having worked over 3 years in Software Testing, I want to jump to software development. While studying for MEng
          in past 2 years, I have worked hard to sharpen my programming skills.
          <br>
          <br>
          <hr>
        </div>

        <!-- Mobile number -->

        <div class="icon left-side">
          <i class="fa fa-phone"></i>
        </div>
        <div class="right-side">
          <h4>
            <a href="tel:902-329-2305"> (902) 329-2305 </a>
          </h4>
          <p style="font-size: 14px;">Mobile</p>
          <hr>
        </div>

        <!-- Email ID -->
        <div class="icon left-side">
          <p>
            <i class="fa fa-envelope"></i>
          </p>
        </div>
        <div class="right-side" style="font-size: 15px;">
          <h4>
            <a href="mailto:vipulparmar154@gmail.com"> vipulparmar154@gmail.com </a>
          </h4>
          <p style="font-size: 14px;">Personal</p>
          <hr>
        </div>

        <!-- LinkedIn-->
        <div class="icon left-side">
          <i class="fa fa-linkedin-square" style="font-size: 28px;"></i>
        </div>
        <div class="right-side">
          <h4>
            <a href="https://www.linkedin.com/in/vipul-parmar/" style="color: white;">Vipul Parmar</a>
          </h4>
          <hr>
        </div>

        <!-- GitHub-->
        <div class="icon left-side">
          <i class="fa fa-github" style="font-size: 30px"></i>
        </div>
        <div class="right-side">
          <h4>
            <a href="https://github.com/vipulparmar23" style="color: white">vipulparmar23</a>
          </h4>
          <hr>
        </div>

        <!-- Home Address-->

        <div class="icon left-side">
          <i class="fa fa-home" style="font-size: 28px;"></i>
        </div>

        <div>
          <h4 class="right-side" style="padding-top: 7px; font-size: 16px;">Toronto, Ontario</h4>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

    <div class="col-md-7" style="background-color: white;">
      <div class="box">
        <div class="lefty icon">
          <div class="fa fa-briefcase heading-icon"></div>
        </div>
        <div class="righty heading-text">
          Work Experience
        </div>
<br><br>
        <div class="lefty"> <!--WORK 1-->
         <img src="../assets/lodestone.png" class="img-thumbnail rounded-circle" style="height: 60px;">
        </div>
        <div class="righty work-title"> <b> Software Test Lead </b>@ <i> Lodestone Software Services Pvt Ltd </i></div> 
        <div class="period">09/2013 - 09/2016</div>
        <div class="desc">Managaed 3 projects working as Software Test Lead<hr> </div>
        
        <div class="lefty"> <!-- WORK 2-->
            <img src="../assets/lodestone.png" class="img-thumbnail rounded-circle" style="height: 60px;">
           </div>
           <div class="righty work-title"> <b> Software Test Engineer </b>@ <i> Lodestone Software Services Pvt Ltd </i></div> 
           <div class="period">03/2013 - 09/2013</div>
           <div class="desc">Worked as a Test Engineer on mobile (android/iOS) and web application testing projects <hr> </div>

        <div class="clear">
        </div>
        <div class="lefty icon">
          <div class="fa fa-pencil heading-icon"></div>
                    
        </div>
        
        <div class="righty heading-text">My Tools</div>
        <br><br>
        <!-- <div style="width: 1500px;"> -->
        <ul>
          <li><i class="fa fa-html5 skill-icons"></i></li>
          <li><i class="devicon-java-plain skill-icons"></i></li>
          <li><i class="devicon-javascript-plain skill-icons"></i></li>
          <li><i class="icon-spring skill-icons"></i></li>
          <li><i class="icon-tomcat skill-icons"></i></li>
        </ul>
      <!-- </div> -->
<br> <hr style="width: 85%">
        <ul>
            <li><i class="devicon-bootstrap-plain skill-icons" style="font-size: 28px;"></i></li>
            <li><i class="devicon-css3-plain skill-icons"></i></li>
            <li><i class="devicon-angularjs-plain skill-icons"></i></li>
            <li><i class="devicon-react-original skill-icons"></i></li>
            <li><i class="devicon-nodejs-plain skill-icons"></i></li>
        </ul>
<br> <br> <hr style="width: 85%">
        <ul>
            <li><i class="devicon-git-plain skill-icons" style="padding-left: 35px;"></i></li>
            <li><i class="devicon-github-plain skill-icons"></i></li>
            <li><i class="devicon-mongodb-plain skill-icons"></i></li>
            <li><i class="devicon-postgresql-plain skill-icons"></i></li>
            <li><i class="icon-mysql skill-icons"></i></li>
        </ul>
<br> <br> <hr style="width: 85%">
        <ul>
            <li><i class="devicon-express-original skill-icons" style="padding-left: 35px;"></i></li>
            <li><i class="devicon-intellij-plain skill-icons"></i></li>
            <li><i class="devicon-mocha-plain skill-icons"></i></li>
            <li><i class="icon-maven skill-icons" style="padding-left: 49px;"></i></li>
            <li><i class="icon-npm skill-icons"></i></li>
        </ul>
<br> <br> <hr style="width: 85%">
        <ul>
            <li><i class="devicon-typescript-plain skill-icons" style="padding-left: 35px;"></i></li>
            <li><i class="devicon-intellij-plain skill-icons"></i></li>
            <li><i class="devicon-visualstudio-plain skill-icons"></i></li>
            <li><i class="icon-maven skill-icons" style="padding-left: 49px;"></i></li>
            <li><i class="icon-npm skill-icons"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>

</html>